
<img src="../assets/img/delice.jpg" alt="Logo" class="logo">
<div class="welcome">BIENVENUE !</div>




<a routerLink="/menu" class="menu-button buttom   wow fadeIn "> <h2 style="text-align: center;"><i class="icon fas fa-bars"></i>Menu</h2></a>

<a target="_blank" href="" class="menu-button  buttom wow fadeIn  "  ><h2><i class="icon fab fa-instagram"></i>Instagram</h2></a>
<a target="_blank" href="" class="menu-button buttom wow fadeIn "  ><h2><i class="icon fab fa-facebook"></i>Facebook</h2></a>
<a target="_blank" href="" class="menu-button buttom wow fadeIn " ><h2><i class="icon fab fa-tiktok"></i>TikTok</h2></a>
<a target="_blank" href="" class="menu-button buttom  wow fadeIn " ><h2><i class="fa fa-map" ></i> &nbsp;Maps</h2></a>

<div class="row" style="margin-top: 1%; width: 60%;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="margin-bottom: 5px; border-top-right-radius: 60px; border-top-left-radius: 60px; border-top: 2px solid #999999; border-bottom: 2px solid #999999;      width: 37rem; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
      <p style="padding-top: 6px; font-size: 8px; float: left; color: rgb(0, 0, 0); text-align: center; margin-top: 8px;">&copy; Délices de tunis 2023</p>

      <p style="padding-top: 6px; font-size: 8px; float: right; color: rgb(0, 0, 0); text-align: center; margin-top: 8px;"><a style="color: rgb(0, 0, 0);text-decoration: none;" target="_blank" href="https://yes2dev.com/">Développé par Yes2dev</a></p>
  </div>
</div>

